<header>
	<div id="headerContainer" class="mainContainer">
		<div class="navContainer">
			<div class="logo"><a href="/login"><img src="img/logo.png" alt="image d'unn logo les initiales du créateur entourées de chevrons"></a></div>
			<div class="about navLink">
				<a href="#aboutContainer">ABOUT ME</a>
			</div>
			<div class="skills navLink">
				<a href="#skillsContainer">SKILLS</a>
			</div>
			<div class="portfolio navLink">
				<a href="#portfolioContainer">PORTFOLIO</a>
			</div>
			<div class="contact navLink">
				<a href="#footerContainer">CONTACT</a>
			</div>
		</div>
		<div id="mainBurgerContainer">
			<div id="burgerIconContainer">
				<div class="burgerContainer">
					<span class="burgerLines1">
						<p class="burgerDot"></p>
					</span>
					<span class="burgerLines2">
						<p class="burgerDot"></p>
					</span>
					<span class="burgerLines3">
						<p class="burgerDot"></p>
					</span>
				</div>
			</div>
			<div id="burgerMenuContainer">
				<div id="burgerMenuContainerContent">
					<span id="homeLinkBurger" class="disappearFirst">
						<a href="#headerContainer">HOME</a>
					</span>
					<span id="aboutLinkBurger" class="disappearSecond">
						<a href="#aboutContainer">ABOUT ME</a>
					</span>
					<span id="skillsLinkBurger" class="disappearThird">
						<a href="#skillsContainer">SKILLS</a>
					</span>
					<span id="portfolioLinkBurger" class="disappearFourth">
						<a href="#portfolioContainer">PORTFOLIO</a>
					</span>
					<span id="contactLinkBurger" class="disappearFifth">
						<a href="#footerContainer">CONTACT</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
